<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Grow Podcast</title>

  <!-- CSS  -->

  <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/flat.audio.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery.zrssfeed.css">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div id="player" class="jp-jplayer"></div>

    <div id="jp_container_1" class="jp-flat-audio" role="application" aria-label="media player">
      <div class="jp-play-control jp-control">
        <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
      </div>
      <div class="jp-bar">
        <div class="jp-seek-bar jp-seek-bar-display"></div>
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
          <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
          <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span></div>
        </div>
      </div>
      <div class="jp-no-solution">
        Media Player Error<br />
        Update your browser or Flash plugin
      </div>
    </div>
  <nav class="light-green">

    <div class="container">
      <div class="nav-wrapper">
        
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        	<li><a href="#">Shows</a></li>
        	<li><a href="#">Archive</a></li>
          	<li><a href="#">Grow Radio Archives</a></li>
        </ul><a href="#" data-activates="nav-mobile" class="right button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container" id="index-banner-container">
      <br><br>
      <h1 class="header center green-text darken-1">GROW Podcast</h1>
		<div class="row center">
        <h5 class="header col s12 light">the new home of Grow Radio</h5>
      </div>
      <div class="row center">
			<h5 class="header col s12 light">SITE UNDER CONSTRUCTION</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">



    <div class="section">
    <div class="row">
          <div class="col s12 m12" id="rss">

          </div>
    </div>
	  <div class="row">
	    <div class="col s12 m4">
	      <div class="card grey darken-1">
	        <div class="card-content white-text">
	          <span class="card-title"><img class="img-mount" style="margin:10px;height:25px;" align="left" src="/images/leaf.svg">Newest Podcasts</span>
	          <p>Our most recent podcasts.</p>
	        </div>
	        <div class="card-action">
	          <a href="#">view the list</a>
	          <a href='#'>our current shows</a>
	        </div>
	      </div>
	    </div>
	    <div class="col s12 m4">
	      <div class="card grey darken-1">
	        <div class="card-content white-text">
	          <span class="card-title"><img class="img-mount" style="margin:10px;height:25px;" align="left" src="/images/leaf.svg">Featured Show</span>
	          <p>check this out</p>
	        </div>
	        <div class="card-action">
	          <a href="#">about this show</a>
	          <a href='#'>play this podcast</a>
	        </div>
	      </div>
	    </div>
	    <div class="col s12 m4">
	      <div class="card grey darken-1">
	        <div class="card-content white-text">
	          <span class="card-title"><img class="img-mount" style="margin:10px;height:25px;" align="left" src="/images/leaf.svg">Previous Podcast</span>
	          <p>Our entire Grow Podcast archives.</p>
	        </div>
	        <div class="card-action">
	          <a href="#">view the list</a>
	        </div>
	      </div>
	    </div>
	  </div>
    </div>
  </div>

  <footer class="light-green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text lighten-4">Grow Radio is a non-profit company that will provide the opportunity for community members to create and manage unique, engaging, educational, informative, locally-generated programming to promote fine, musical and visual arts and humanities for the enrichment of, but not limited to, the Gainesville community.

A COPY OF THE OFFICIAL REGISTRATION AND FINANCIAL INFORMATION MAY BE OBTAINED FROM THE DIVISION OF CONSUMER SERVICES BY CALLING TOLL-FREE (800-435- 7352) WITHIN THE STATE. REGISTRATION DOES NOT IMPLY ENDORSEMENT, APPROVAL, OR RECOMMENDATION BY THE STATE.

NO. 9 PRODUCTIONS, INC. REGISTRATION#: CH33520</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Style by <a class="orange-text lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>  


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/player.js"></script>

  </body>
</html>