header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}
.jp-flat-audio {
  display: none;
}
.jp-flat-audio.active {
  display: block;
}
.icon-block {
  padding: 0 15px;
}
#index-banner-container {
  background-image: url('/images/logo.svg');
  background-repeat: no-repeat;
  background-size: 50%;
}
#index-banner-container h1,
#index-banner-container h5 {
  text-shadow: 0px 0px 3px #fff;
}
h1.header {
  font-weight: bold;
}
